{% extends "principal/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}LISTO{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <p style="background-color:red; color: white; text-align: center;"> REINICIO DE CONTRASEÑA</p>
                <h2 class="font-weight-bold mt-3">Se envió el restablecimiento de contraseña</h2>
                <hr>
                <p>
                    Le enviamos instrucciones por correo electrónico para configurar su contraseña, si
                    existe una cuenta con el
                    correo electrónico que ingresó. Debería recibirlos en breve.<br><br>Si no recibe un
                    correo electrónico, asegúrese de
                    haber ingresado la dirección
                    con la que se registró y verifique su carpeta de correo no deseado.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}