<!DOCTYPE html>{% load static %}
<html lang="es">
<meta http-eqip="Content-Type" content="text/html; charset=UTF-8" />
<style>
    .img-invoice {
        width: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .head {
        text-align: center;
        text-transform: uppercase;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

    .text-center {
        text-align: center;
    }
</style>

<body>

    <p class="head">
        {{ comp.title|upper }}<br>
        {{ comp.hora|upper }}<br>
    </p>

    <table>
        <thead>
            <tr style="border-top: 1px solid black; padding-top: 4px;">
                <th style="width: 100%">DATOS DEL PACIENTE</th>
            </tr>
        </thead>
        <tr style="border-top: 1px solid black; padding-top: 4px;">
            <td>
            </td>
        </tr>
    </table>


    <table class="default">
        {% for base in historia %}
        <tr>
            <td><b>PACIENTE:</b>{{base.paciente_pediatrico.name|upper}}</td>
            <td>{% if base.paciente_pediatrico.apellidos == NONE %} {% else %}
                {{base.paciente_pediatrico.apellidos|upper}}{%endif %}
            </td>
            <td>,Identificado(a) con:{{base.paciente_pediatrico.documento}}</td>
        </tr>
        <tr>
            <td><b>TELEFONO:</b> {{base.paciente_pediatrico.phone|upper}}</td>
            <td><b>FECHA DE NACIMIENTO:</b> {{base.paciente_pediatrico.fecha_nacimiento|upper}}</td>
            <td><b>TIPO DE SANGRE:</b> {{base.paciente_pediatrico.tipo_sangre|upper}}</td>
            <td><b>SEXO:</b> {{base.paciente_pediatrico.sexo|upper}}</td>
        </tr>
        <tr>
            <td><b>ESTADO CIVIL:</b> {{base.paciente_pediatrico.estdo_civil|upper}}</td>
            <td><b>OCUPACION:</b> {{base.paciente_pediatrico.ocupacion|upper}}</td>
        </tr>
        <tr>
            <td><b>ENTIDAD:</b>{{base.entidad}}</td>
            <td><b>ESTRATO:</b>{{base.estrato}}</td>
            <td><b>REGIMEN:</b>{{base.regimen}}</td>
            <td><b>PLAN DE BENEFICIOS:</b>{{base.plan_beneficio}}</td>
        </tr>
        {% endfor %}

        {% for base in ordenes %}
        {% if forloop.first %}
        <tr>
            <td><b>MEDICO TRATANTE:</b> {{base.receto_medico.nombre_medico|upper}}</td>
            <td>{% if base.receto_medico.apellido_medico == NONE %} {% else %}
                {{base.receto_medico.apellido_medico|upper}}{%endif %}
            </td>
        </tr>
        {% endif %}>
        {% endfor %}
    </table>

    <table id="invoice">
        <thead>
            <tr style="border-top: 1px solid black; padding-top: 4px;">
                <th style="width: 5%;">ID</th>
                <th style="width: 40%;">DIAGNOSTICO</th>
                <th style="width: 40%;">DESCRIPCION</th>
                <th style="width: 15%;">FECHA RECETADA</th>
            </tr>
        </thead>
        <tbody>
            {% for base in ordenes %}
            <tr {% if forloop.first %}style="padding-top: 3px;" {% endif %}>
                <td class="text-left">{{forloop.counter}}</td>
                <td>{{base.diagnostico}}</td>
                <td>{{base.descripcion}}</td>
                <td>{{base.fecha_orden}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tr style="border-top: 1px solid black; padding-top: 4px;">
            <td>
            </td>
        </tr>
    </table>
    <table style="margin-top: 250px;">
        <thead>
            <tr>
                <th>****SISTEMA DE TELEMEDICINA****</th>
            </tr>
            <tr>
                <th>Aplicacion telemedicina con Django</th>
            </tr>
            <tr>
                <th>Gracias por su visita</th>
            </tr>
        </thead>
    </table>
</body>

</html>